/* LoadingSpinner.css */
.loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Ensure the image is on top */
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px); /* Blurs the content */
}

.loading-overlay p {
  background: #343a40;
  color: white;
  padding: 1em;
  border-radius: 5px;
}
  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Blur effect for the main content */
  .blurred {
    filter: blur(5px);
  }